<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Trash2Cash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('web_interface') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        <li><a href="{{ url_for('process') }}">T2C</a></li>
    </ul>
</nav>

<!-- About Us Content -->
<div class="about-us">
    <h2>Our Mission</h2>
    <p>At Trash2Cash, our mission is to make recycling accessible, rewarding, and easy for everyone. We believe that recycling can change the world, and we're dedicated to promoting sustainable practices by providing people with incentives for recycling.</p>

    <h2>Our Vision</h2>
    <p>Our vision is to create a global movement that transforms waste into wealth. We aim to revolutionize recycling by offering an easy-to-use platform that connects people with recycling centers and rewards them for their participation.</p>
</div>

<!-- Footer -->
<footer>
    <p>&copy; 2025 Trash2Cash. All rights reserved.</p>
</footer>

</body>
</html>
